In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [3]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
df.shape

(23486, 11)

In [5]:
df.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [6]:
df['Review Text']=df['Review Text'].fillna('No Reviews')

In [7]:
null = ['Division Name','Department Name','Class Name']

In [8]:
for i in null:
    df[i] = df[i].fillna(df[i].mode()[0])

In [9]:
df.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                   0
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                 0
Department Name               0
Class Name                    0
dtype: int64

In [10]:
df.drop(['Unnamed: 0','Clothing ID','Title'],axis = 1,inplace = True)

In [11]:
df.head()

,Age,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,33,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,34,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,60,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,50,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,47,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [12]:
dummy = ['Division Name','Department Name','Class Name']

In [13]:
le = LabelEncoder()
for i in dummy:
      df[i] = le.fit_transform(df[i])

In [14]:
df

,Age,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,33,Absolutely wonderful - silky and sexy and comf...,4,1,0,2,2,5
1,34,Love this dress! it's sooo pretty. i happene...,5,1,4,0,1,3
2,60,I had such high hopes for this dress and reall...,3,0,0,0,1,3
3,50,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,1,0,13
4,47,This shirt is very flattering to all due to th...,5,1,6,0,4,0
...,...,...,...,...,...,...,...,...
23481,34,I was very happy to snag this dress at such a ...,5,1,0,1,1,3
23482,48,"It reminds me of maternity clothes. soft, stre...",3,1,0,1,4,8
23483,31,"This fit well, but the top was very see throug...",3,0,1,1,1,3
23484,28,I bought this dress for a wedding i have this ...,3,1,2,0,1,3
23485,52,This dress in a lovely platinum is feminine an...,5,1,22,1,1,3

In [15]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
df['Review Text']

0        Absolutely wonderful - silky and sexy and comf...
1        Love this dress!  it's sooo pretty.  i happene...
2        I had such high hopes for this dress and reall...
3        I love, love, love this jumpsuit. it's fun, fl...
4        This shirt is very flattering to all due to th...
                               ...
23481    I was very happy to snag this dress at such a ...
23482    It reminds me of maternity clothes. soft, stre...
23483    This fit well, but the top was very see throug...
23484    I bought this dress for a wedding i have this ...
23485    This dress in a lovely platinum is feminine an...
Name: Review Text, Length: 23486, dtype: object

In [17]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
nltk.download('stopwords')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
stem_list = []
stemmer = PorterStemmer()
for i in range(0, len(df['Review Text'])):
    review = re.sub('[^a-zA-Z]', ' ', df['Review Text'][i])
    review = review.lower()
    review = nltk.word_tokenize(review)

    review = [stemmer.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    stem_list.append(review)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)
x_stem_bow = cv.fit_transform(stem_list)

In [20]:
df_1 = df.copy()

In [21]:
bow = pd.DataFrame.sparse.from_spmatrix(x_stem_bow)

In [22]:
df_1 = pd.concat([df_1,bow],axis = 1)

In [23]:
df_1.drop('Review Text',axis = 1)

,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,0,1,2,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,33,4,1,0,2,2,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34,5,1,4,0,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60,3,0,0,0,1,3,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,50,5,1,0,1,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,47,5,1,6,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23481,34,5,1,0,1,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23482,48,3,1,0,1,4,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23483,31,3,0,1,1,1,3,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23484,28,3,1,2,0,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23485,52,5,1,22,1,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
x = df_1.drop('Recommended IND',axis = 1)
y = df_1['Recommended IND']

In [25]:
x.columns = x.columns.astype(str)

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [27]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(x_train, y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:964: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'